*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Palanquin', sans-serif;

font-family: 'Staatliches', cursive; */

:root{
  --bg-header: #8E9AAF;
  --bg-main: #EFF1FF;
  --bg-h1: #CBC0D3;
  --bg-h2: #FEEAFA;

  --fc-h1:#FFFFFF;
  --fc-h2:#4A4E69;
  --fc-p:#23053A;
  
  --ff-h:'Staatliches', cursive; 
  --ff-p: 'Palanquin', sans-serif;

  font-size: 62.5%;
}


body{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
  
  /* só pro fundo não ficar branco */
  background-color: #8a8a91;
}

header::before{
  content: '';
  background-color: var(--bg-header);
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  
}

header img{
  margin: 3.2rem auto;
}

h1, h2{
  font-family: var(--ff-h);
  line-height: 3.4rem;
  font-weight: 400;
}

h1{
  background-color: var(--bg-h1);
  color: var(--fc-h1);
  
  font-size: 4rem;
  padding: 0.8rem 0 0.7rem;
  margin-bottom: 2.9rem;
  letter-spacing: 0.05em;
}

/* CLAMP FOI UTILIZADO PARA O SITE CABER EM APARELHOS MOBILE SMALL (320px de largura) */
main{
  background-color: var(--bg-main);
  padding: 0 clamp(1rem,2rem + 1vw,3.2rem) 6rem;
}

p{
  padding-top: 1.4rem;
  
  margin: 0 auto 5.6rem;
  
  max-width: 30.5rem;
  
  font-family: var(--ff-p);
  font-size: 1.35rem;
  
  line-height: 1.5rem;
  
  color: var(--fc-p);
}

.card{

  position: relative;

  margin: 0 auto;

  width: clamp(10rem, 10rem + 45vw ,32rem);

  border-radius: 20px;
}

.card + .card{
  margin-top: 3.6rem;
}

h2{
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 1;

  font-size: 2rem;
  

  background-color: var(--bg-h2);
  color: var(--fc-h2);

  width: 11.2rem;
  height: 3.5rem;

  border-radius: 20px;

}

.card h2{
  animation: topdown 700ms 300ms backwards;
}

.card img{
  width: clamp(10rem, 10rem + 40vw ,32rem);
  animation: downtop 700ms;
}




@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }

}


@media (min-width:800px){
  body{
    width: 38.4rem;
  }
  header::before{
    width: 38.4rem;
  }
}

@media(min-width:2000px){
  :root{
    font-size: 100%;
  }
  .card img{
    width: 100%;
  }

}